<button class="btnClose" mat-dialog-close>
  <img alt="Close" src="assets/img/BtnClose.svg">
</button>
<div class="wrapper text-center">

  <h2>Нова локація</h2>
  <h5>Назва локації</h5>

  <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div class="NewLocation">
      <input class="locationName" formControlName="location" placeholder="Назва локації" type="text" required>
      <div *ngIf="myForm.get('location')?.invalid && (myForm.get('location')?.dirty || myForm.get('location')?.touched)" class="alert alert-danger">
        <p *ngIf="myForm.get('location')?.errors?.['required']">Поле є обов'язковим</p>
        <p *ngIf="myForm.get('location')?.errors?.['minlength']">Мінімальна довжина поля 3 символи</p>
        <p *ngIf="myForm.get('location')?.errors?.['maxlength']">Максимальна довжина поля 30 символів</p>
        <p *ngIf="myForm.get('location')?.errors?.['pattern']">Поле має містити тільки літери та пробіли</p>
        <p *ngIf="myForm.get('location')?.errors?.['duplicate']">Така локація вже існує</p>
      </div>
    </div>
    <div class="NewLocation">
      <button class="btn btn-warning createLocationBtn" type="submit" [disabled]="myForm.invalid" mat-dialog-close>Створити локацію</button>
    </div>
  </form>

</div>

