.wrapper {
  width: 306px;
  margin: auto;
}

.NewLocation {
  margin-top: 10px;
}

.locationName {
  margin-bottom: 10px;
}

.locationName, .roomInput {
  width: 100%;
  height: 38px;
  border: 1px solid var(rgba(206, 212, 218, 1), #CED4DA);
  background: var(rgba(255, 255, 255, 1), #FFF);
}

.addRoomBtn {
  width: 100%;
}

.roomItem {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.deleteDivBtn {
  width: 46px;
  height: 38px;
  margin-left: 10px;
  cursor: pointer;
}

.deleteDivBtn img {
  padding-top: 7px;
}

.createLocationBtn {
  margin-bottom: 10px;
}

.btnClose {
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: none;
}
.dropdown{
  margin-bottom: 25px;
}

.dropdown button{
  width: 100%;
  height: 38px;
}

.dropdown-item, .dropdown-menu {
  width: 100%;
}
