<button class="btnClose" mat-dialog-close>
  <img alt="Close" src="assets/img/BtnClose.svg">
</button>
<div class="wrapper text-center">
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <h2>Змінити сенсор</h2>
    <input class="locationName" formControlName="name" placeholder="Назва сенсору" required type="text">
    <div *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)" class="errorMessage">
      <h5 *ngIf="myForm.get('name')?.errors?.['required']">Поле є обов'язковим</h5>
      <h5 *ngIf="myForm.get('name')?.errors?.['minlength']">Мінімальна довжина поля 3 символи</h5>
      <h5 *ngIf="myForm.get('name')?.errors?.['maxlength']">Максимальна довжина поля 30 символів</h5>
      <h5 *ngIf="myForm.get('name')?.errors?.['pattern']">Поле має містити тільки літери та пробіли</h5>
<!--      <h5 *ngIf="myForm.get('name')?.errors?.['duplicate']">Така локація вже існує</h5>-->
    </div>
    <div class="dropdown">
      <h5>Тип сенсора</h5>
      <button aria-expanded="true" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              type="button">
        {{selectedSensor}}
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
        <a (click)="handleItemClick(typeOfSensor.value,0)" *ngFor="let typeOfSensor of typeOfSensors"
           class="dropdown-item">{{typeOfSensor.value}}</a>
      </div>
    </div>

    <div class="dropdown">
      <h5>Локація</h5>
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              type="button">
        {{selectedLocation}}
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
        <a (click)="handleItemClick(location.value,1)" *ngFor="let location of locations"
           class="dropdown-item">{{location.value}}</a>
      </div>
    </div>

    <div class="dropdown">
      <h5>Кімната</h5>
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              type="button">
        {{selectedRoom}}
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
        <a (click)="handleItemClick(room.value,2)" *ngFor="let room of rooms" class="dropdown-item">{{room.value}}</a>
      </div>
    </div>
    <p>
      <button (click)="onSubmit()" [disabled]="myForm.invalid" class="btn btn-warning" mat-dialog-close>Змінити</button>
    </p>
  </form>
</div>

