<div class="d-flex justify-content-center h-100 ">
  <div class="container">
    <button class="btnClose" mat-dialog-close>
      <img src="assets/img/BtnClose.svg" alt="Close">
    </button>
    <div class="row d-flex justify-content-center align-items-center formLogin">
      <div style="width: 300px">
        <h3 class="text-center">Вхід в систему</h3>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="text-center">
          <input class="col-12" formControlName="email" matInput placeholder="Електронна пошта">
          <input class="col-12" formControlName="password" matInput placeholder="Пароль" type="password">
          <button class="text-center" type="submit">Вхід</button>
        </form>
      </div>
    </div>
  </div>
</div>
