.mainContent {
  border-left: 1px dashed black;
  min-height: 100vh;
  flex: 1;
}

.userInformation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top:120px;

}






