<div class="MainFrame">

  <div class="head container">
    <div class="row align-items-center">
      <div class="col" style="position: relative;">
        <span class="logoText">IoT Platform </span>
        <app-language-selector></app-language-selector>
      </div>
      <a href="#aboutPlatform"
        class="offset-sm-0 col-sm-4 offset-lg-0 col-lg-3 offset-xl-1 col-xl-3 offset-xxl-2 col-xxl-2">
        <h4>{{"AboutPlatform"|translate}}</h4></a>
      <button class="col-sm-3 col-lg-2 btnReg" (click)="openRegistrationDialog()" ><h4>{{"Register"|translate}}</h4>
      </button>
      <button class="col-2 btnLogin" (click)="openLoginDialog()"><h3>{{"Login"|translate}}</h3></button>
    </div>
  </div>


  <div class="container mainText">
    <h2 class="offset-1 text-center fw-bolder">{{"Welcome"|translate}}</h2>
    <p class="offset-1 col-10">{{"PropertyOwn"|translate}}</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-9 homepageImg">
        <img class="w-75" src="assets/img/homepage.png">
      </div>
    </div>
  </div>
</div>

<div class="Info d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12"><h2 class="text-center fw-bolder">{{"Breeze"|translate}}</h2></div>
      <div class="col-12"><h3 class="text-center">{{"FollowSteps"|translate}}</h3></div>
    </div>

    <div class="row justify-content-between w-100">
      <div class="col-md-6 col-xxl-3">
        <div class="infoCard">
          <h2>1</h2>
          <h4>{{"Register"|translate}}:</h4>
          <p class="textCard">{{"BeginJourney"|translate}}</p>
        </div>
      </div>
      <div class="col-md-6 col-xxl-3">
        <div class="infoCard">
          <h2>2</h2>
          <h4>{{"Login"|translate}}:</h4>
          <p class="textCard"> {{"OnceReg"|translate}}</p>

        </div>
      </div>
      <div class="col-md-6 col-xxl-3">
        <div class="infoCard">
          <h2>3</h2>
          <h4>{{"AddNewLoc"|translate}}:</h4>
          <p>{{"SetUpStructure"|translate}}</p>
        </div>
      </div>
      <div class="col-md-6 col-xxl-3">
        <div class="infoCard">
          <h2>4</h2>
          <h4>{{"AddNewSens"|translate}}:</h4>
          <p class="textCard">{{"ItsTime"|translate}}</p>
        </div>
      </div>
      <div class="col-12">
        <div class="infoCard">
          <h2>5</h2>
          <h4>{{"ViewDashboard"|translate}}:</h4>
          <p class="textCard">{{"TextDashboard"|translate}}</p>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 36px; margin-bottom: 36px;">
      <div class="col-12">
        <p class="text-center">{{"FewClick"|translate}}
          <br>
          {{"TakeControl"|translate}}
          <br>
          <span class="fw-bolder">{{"ReadyStart"|translate}}</span>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="About" id="aboutPlatform">
  <div class="container">
    <div class="row">
      <div class="col-12  d-flex justify-content-center">
        <h1>{{"WhyIOT"|translate}}</h1>
      </div>
    </div>

    <div class="row textAbout">
      <div class="col-sm-12 col-xl-6 textAboutCard">
        <h2>{{"Real-timeData.h"|translate}}:</h2>
        <p>{{"Real-timeData.p"|translate}}</p>
      </div>
      <div class="col-sm-12 col-xl-6 justify-content-center align-items-center textAboutCard d-sm-none d-xl-flex">
        <img alt="" src="assets/img/homepageDashboard.png">
      </div>

      <div class="col-sm-12 col-xl-6 justify-content-center align-items-center textAboutCard d-sm-none d-xl-flex">
        <img alt="" src="assets/img/homepageTypeOfSensors.png">
      </div>
      <div class="col-sm-12 col-xl-6 textAboutCard">
        <h2>{{"ComprehensiveSensor.h"|translate}}:</h2>
        <p>{{"ComprehensiveSensor.p"|translate}}</p>
      </div>

      <div class="col-sm-12 col-xl-6 textAboutCard">
        <h2>{{"AirQuality.h"|translate}}:</h2>
        <p>{{"AirQuality.p"|translate}}</p>
      </div>
      <div class="col-sm-12 col-xl-6 justify-content-center align-items-center textAboutCard d-sm-none d-xl-flex">
        <img alt="" src="assets/img/homepageAirSensor.png">
      </div>

      <div class="col-sm-12 col-xl-6 justify-content-center align-items-center textAboutCard d-sm-none d-xl-flex">
        <img alt="" src="assets/img/homepageMainlist.png">
      </div>
      <div class="col-sm-12 col-xl-6 textAboutCard">
        <h2>{{"Flexibility.h"|translate}}:</h2>
        <p>{{"Flexibility.p"|translate}}</p>
      </div>
    </div>

    <div class="row" style="margin-top: 36px;padding-bottom: 36px;">
      <div class="col-12">
        <p class="text-center">{{"InWorld"|translate}}
        </p>
      </div>
    </div>
  </div>
</div>


<footer class="d-flex align-items-center">
  <div class="container">
    <div class="row  d-flex align-items-center ">
      <div class="col-4" style="position: relative;">
        <h1>IoT Platform</h1>
        <app-language-selector></app-language-selector>
      </div>
      <div class="offset-4 col-4">
        <ul class="list-inline d-flex justify-content-end">
          <li class="list-inline-item"><a><img src="assets/img/Instagram.png"></a></li>
          <li class="list-inline-item"><a><img src="assets/img/YouTube.png"></a></li>
          <li class="list-inline-item"><a><img src="assets/img/Facebook.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
